.hero_title{

  /* position */

  display: flex;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;

  /* style */ 

  font-size: 11.063rem;
  letter-spacing: -0.5rem;
  font-style: italic;
}

.hero{
  display: flex;
  width: 100dvw;
  height: 100dvh;
  /* background: url("../img/background/hero.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
}

.hero_background{
  display: flex;
  width: 100dvw;
  height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  z-index: -1;
  /* style */ 

  opacity: 30%;
}

.hero_arrow{

  /* position */ 

  display: flex;
  position: absolute;
  width: 100dvw;
  justify-content: center;
  bottom: 5rem;
  
  /* style */ 

  font-size: 7rem;
  color: black;

}

.hero_arrow a{
  color: black;
  text-decoration: none;
}

