.hero_title{

  /* position */

  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  /* style */ 

  font-size: 6.864rem;
  letter-spacing: -0.5rem;
  font-style: italic;
}

.hero_background{
  
  /* position */
  
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;

  /* style */ 

  opacity: 30%;
}

.hero_arrow{

  /* position */ 

  display: flex;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  
  /* style */ 

  font-size: 7rem;
  color: black;

}

.hero_arrow a{
  color: black;
  text-decoration: none;
}

