.origan{
  display: flex;
  justify-content: center;
  gap: 17.87rem;
  margin-top: 5rem;
  /* align-items: center; */
}



.origan_img img{
  /* max-height: 41.625rem; */
  /* max-width: 33.5rem; */ 
  display: block;
  height: 666px;
  width: 536px;
  object-fit: cover;
  border-radius: 25px;
  overflow: hidden;
}


.origan_img{
  /* max-height: 41.625rem; */
  /* max-width: 33.5rem; */
  height: 666px;
  height: 536px;

  border-radius: 25px;
  box-shadow: 5px 5px 50px -10px rgba(0,0,0,50%);
}

.origan_menu{
  display: flex;
  flex-flow: column nowrap ;
  height: 41.625rem;
  width: 33.5rem;
  justify-content: center;

}

.origan_menu_title{
  font-size: 4.250rem;
  letter-spacing: 0.128rem;
  width: 100%;
  height: 5.5rem;
  white-space: nowrap;

  font-style: italic;
  border-bottom: solid 0.5px  black;
}

.origan_menu ul{
  display: flex;
  flex-flow: column nowrap;
  margin-top: 0.5rem;
  font-family: "Manrope";
  font-size: 1.625rem;
  letter-spacing: 0.049rem;
}

.origan_menu_info{
  display: flex column nowrap;
  margin-top: 1rem;
  font-family: "Manrope";
  font-size: 1rem;
  letter-spacing: 0.03rem;
  font-weight: bold;
}

.reverse{
  flex-direction: row-reverse;
}


.paws{
  display: flex;
  position: absolute;
  top: 70rem;
  left: 0;
  width: 100%;
  height: auto;

  overflow-x: hidden;
  z-index: -1000;
}
.paws img{
  max-inline-size: 100%;
  opacity: 0.6;
}

.about{
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
}

.about_text{
  display: flex;
  justify-content: center;
  width: 42.125rem;
  height: 30.125rem;
  flex-flow: column nowrap;
}

.about_text p:first-child{
  font-size: 4.250rem;
  letter-spacing: 0.128rem;
  font-style: italic;
}

.about_text p:last-child{
  text-align: left;
  font-family: "Manrope";
  font-size: 2.625rem;
  letter-spacing: 0;079rem;
  font-weight: normal;
}

.about_img img{
  display: block;
  height: 666px;
  width: 536px;
  object-fit: cover;
  border-radius: 25px;
  overflow: hidden;
}


@media screen and (max-width: 1400px) {
  .origan{
    gap: 5rem;
    align-items: center;
  }
  .origan_img{
    height: 466px;
    width: 336px;
  }

  .origan_img img{
    height: 466px;
    width: 336px;
  }

  .about_img img{
    height: 566px;
    width: 436px;
  }
}

/* Auto dots in menu */ 


ul.auto_dot{
 max-width: 33.5rem;
 padding: 0;
 overflow-x: hidden;
 list-style: none;
}

ul.auto_dot li:before{
  float: left;
  width: 0;
  white-space: nowrap;
.  content: "....................................................................................................................................................................................................................................................................................."
}

ul.auto_dot span:first-child{
  padding-right: 0.33rem;
  background:var(--main-color) ;
}

ul.auto_dot span+span{
  float: right;
  padding-left: 0.33rem;
  font-weight: 450;
  background: var(--main-color);
}




